* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  white-space: nowrap;
  font-size: 13px;
}
header {
  width: 100%;
}

.left-header {
  float: left;
  margin: 1rem;
  opacity: 0.8;
}

.right-header {
  float: right;
  margin: 1rem;
}

.header-link {
  margin-left: 1rem;
}

#appicon {
  vertical-align: middle;
  opacity: 0.4;
}
#appicon:hover {
  opacity: 1;
}

nav a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}

#sign-btn {
  padding: 8px;
  background-color: #4285f4;
  color: white;
  border: none;
  height: 30px;
  font-weight: bold;
  border-radius: 2px;
}

#sign-btn:hover {
  cursor: pointer;
}
.clear {
  clear: both;
}

#google {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  height: 95px;
  width: 272px;
}

.searchbar {
  text-align: center;
  padding-top: 20px;
  margin-left: 60px;
}

#search {
  font-size: 16px;
  height: 38px;
  width: 460px;
  border-radius: 25px;
  padding: 3px;
  padding-left: 50px;
  border: 1px solid lightgray;
}

#mag {
  position: relative;
  height: 30px;
  width: 30px;
  top: 10px;
  right: 450px;
}

#mic {
  position: relative;
  height: 20px;
  top: 5px;
  right: 74px;
}

#search:hover {
  box-shadow: 3px 3px 5px lightgray;
}

#search:focus {
  outline: 0;
}
input {
  width: 200px;
}

.btnbar {
  text-align: center;
  margin-top: 30px;
}

.btn1 {
  margin-right: 8px;
  border-radius: 5px;
  border: none;
  color: #5f6368;
  height: 36px;
  width: 120px;
}

.btn1:hover {
  color: black;
  border: 1px solid lightgray;
  box-shadow: 0.7px 0.7px 0.7px lightgray;
  cursor: pointer;
}
.btn2 {
  margin-right: 8px;
  border-radius: 5px;
  border: none;
  color: #5f6368;
  height: 36px;
  width: 120px;
}

.btn2:hover {
  color: black;
  border: 1px solid lightgray;
  box-shadow: 0.7px 0.7px 0.7px lightgray;
  cursor: pointer;
}

.lang {
  text-align: center;
  margin-top: 20px;
}

#language a {
  color: navy;
}

footer {
  width: 100%;
  padding-left: 5px;
  line-height: 40px;
  font-size: 14px;
  background-color: #f2f2f2;
  bottom: 0;
  position: fixed;
}
.country {
  border-bottom: 1px solid #e4e4e4;
  margin-left: 13px;
  color: #5f6368;
}
.footer-left {
  float: left;
}

.footer-right {
  float: right;
  margin-right: 25px;
}
.footer-link {
  margin-right: 15px;
  color: #5f6368;
}
